/*version 13082021*/
/* Mobil first*/
body{
    font-family: "Raleway", sans serif;
    margin: 0px;
}
/*Parametre de texte*/
.h1titre{
    font-size: 22px;
    font-weight: bolder;
    }
.h2titre{
    font-size: 20px;
    font-weight: bolder;
    }
.h2titreactiv{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}
.h3titre{
    font-size: 14px;
    height: 32px;
    font-weight: bolder;
    margin-top: 20px;
}
h4{
   margin-top: 30px;
    margin-bottom: 0px;
}
p{
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.flexcenter{
    display: flex; 
    justify-content: center;
}
.flexcolumn{
    display: flex; 
    flex-direction:column;
}
/*Header*/
header{ 
    width: 100%;
    display: grid;
    font-weight: bolder;
    grid-template: "topLeft  topRight" 120px
                    "bottom  bottom" 40px;
} 
.logo{
    grid-area: topLeft;
    padding-left: 20px;
    padding-top: 30px;
}
.menu{
    grid-area: bottom;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.menu-item{
    width: 100%;
    color: black;
    border-bottom: #F2F2F2 3px solid;
}
.menu-item:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
.inscription{
    grid-area: topRight;
    padding: 50px 30px 0 0;
    text-align: right;
}
#inscriptionLien{
    color: #0065FC;
    font-weight: bolder;
}
/*Trouver votre hébergement*/
.trouverhebergement{
    padding: 0 20px 0 20px;
}
.formulaire{
    width: 335px;
    height: 50px;
    justify-content:start;
    align-items: stretch;
    margin-bottom: 40px;
}
#map{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;  
}
#rechercher{
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: none;
    padding-left: 20px;
    color: black;
    font-weight: 700; 
    outline: none;
}
input::placeholder{
    color: black;
    font-weight: 800;
}
.intrechercher{
    font-family: raleway;
    font-size: 15px;
    font-weight: 200;
    color: black;
}
#iconrecher{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #0065fc;
    border-radius: 20px 20px 20px 20px;
}
#map:hover, .textrecher:hover{
    color:#0065fc;
    background-color: #F2F2F2
}
.textrecher{
    display: none;
    width: 135px;
    height: 50px;
    font-family: "raleway";
    justify-content:start;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    letter-spacing:0.3mm;
}
/*Filtres*/
.h2titrefiltres{
    font-size: 16px;
    padding-right: 20px;
}
.filter{
    width: fit-content;
    height: 38px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align:inherit;
    border: #F2F2F2 solid 2px;
    border-left: #DEEBFF;
    border-radius: 25px;
    margin:0 5px 15px 10px;
    padding-right: 5px;
    }
.filtresicone{
    width: 40px;
    height: 40px;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
}
.filtrestext{
    font-size: 14px;
    font-weight: bolder;
    padding: 0 20px 0 10px;
    margin: 0px;
    text-decoration: none;
    color: black;
}
.filtresicone:hover{
    background-color: teal;
    color: white;
}
/*Information*/
#info{
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}
#infoicone{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:start;
    color: #0065FC;
    border-radius: 100%;
    border: #F2F2F2 solid 1px;
}
#infotext{
    margin: 0px;
    padding: 0 0 40px 10px;
}
/*Les plus populaires*/
.BlocPlusPopulaire{
    background-color: #F2F2F2;
    padding: 20px 20px 20px 20px; 
    justify-content: space-between;
}
.TitrePopulaire{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
}
.BlocPopResponsive{
    display: flex;
    flex-direction: column;
}
.BlocPop{
    height: 145px;
    display: flex;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}
.BlocPop:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgpop{
    width: 40%;
    padding: 5px;
    border-radius: 25px 0 0 25px  ;
    object-fit: cover;
}
.bloctext{
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}
.ulpop{
    justify-content: left;
    text-align: left;
    list-style: none;
    margin: 0px;
    padding: 20px 0 0 0;
    letter-spacing: 2px;
}
.prixheb{
    font-size: 13px;
    font-weight: 200;
    margin: 5px 0 5px 0;
}
.prixpop{
    font-size: 12px;
    font-weight: 200;
    margin-top: 0px;
}
.euro{
    font-weight: 700;
}
.hebtext{
    font-size: 13px;
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 0px;
 }
.etoilespop{
   padding-left:0px;
}
.etoiles{
    padding-bottom: 10px;
}
/*Hébergement à Marseille*/
.hebergement{
    padding: 20px 20px 20px 20px;
}
.h2titre{
    margin-bottom: 0px;
}
.BlocHebergement{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    margin: 15px 0px 15px 0px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 3px 3px 10px 1px #F2F2F2;
}
.BlocHebergement:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgheber{
    height:60%;
    padding: 5px;
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.bloctextheb{
    text-align: left;
    padding-left: 20px;
}
.ulheb{
    height: 14px;
    margin-top: -2px;
    padding-top: 0px;
    letter-spacing: 0px; 
}
/*Activités*/
.BlocActivites{
    padding: 20px;
}

.activite{
    height: 190px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px 1px #F2F2F2;
}
.activite:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgactiv{
    height:135px;
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.activtext{
    font-size: 14px;
    font-weight: 800;
    text-align: inherit;
    padding: 0 0 0 20px;
    margin:20px 0 0 0;  
}
/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 20px 40px 20px 40px;     
}
.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.h2footer{
    font-size: 15px;
    font-weight: bolder;
    padding-top: 15px;
}
.pfooter{
    height: 30px;
    font-size: 13px;
    text-decoration: none;
    color: black;
}  
/*------------ desktop-----------------*/
@media screen and (min-width: 820px) {
/*header*/
header{
        grid-template: "topLeft top top topRight" 100px / auto 160px 160px 100px;
}
.menu{
   grid-area: top;
}
.menu-item{
    padding-top: 50px;
    border-bottom: none;
    border-top: #F2F2F2 3px solid;
}
.menu-item:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
#inscriptionLien{
    padding-right: 10px;
}
.inscription{
    padding-top:53px;  
}
.logo{
    padding-left: 25px; 
}
/*Trouver votre hébergement*/
.trouverhebergement{
    padding-left: 30px;
}
/*Formulaire rechercher*/
.formulaire{
    width: 420px;
    padding-top: 20px;
    margin-bottom: 30px;
}
#iconrecher{
    display: none;
}
.textrecher{
    display: flex;
}
/*Filtre*/
#filtres{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
.filtrestext{
    padding-right: 5px;
}
.RomEtAnimaux{
    display: flex;
    flex-direction: row;
}
#info{
    padding-top: 20px;
}
/*Hébergement et Les plus populaire*/
.HebEtPop{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom:20px;
}
/*Hébergement*/
.hebergement{
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    
}
.titreheb{
    margin-bottom: 5px;
    padding-right: 30px;
}
.hebtext{
    padding-right: 0px;
    margin-top: 0px;
}
.BlocHeberResponsive{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.BlocHebergement{
    width: 33%;
    height: 210px;
    
}
.bloctextheb{
    padding: 5px 0 0 10px;
}

/*Les plus populaires*/
.TitrePopulaire{
   
   font-size: 18px
}
.BlocPlusPopulaire{
    width:29%;
    height: 600px;
    border-radius: 20px;  
}

.BlocPop{
    
    margin-bottom: 30px;
}
.bloctext{
    padding-left: 5px;
    padding-right: 10px;
    }
.h3titre{
    padding-right: 0px;
    font-size: 13px;
    
}
.etoilespop{
    padding-top: 0px;
}
.prixpoptablette{
    margin-bottom: 0px;
}
/*Activités*/
.txttitreactiv{
    padding-left: 10px;
}
.BlocActivites{
   padding: 0;
   margin-top: 40px;
   margin-bottom: 25px;  
}
.activtext{
    font-size: 12px;
    margin-bottom: 15px;
    padding-left: 15px;   
}
.imgactivite{
    width: 100%;
    height: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activite{
    height: 100%;
    margin-bottom: 0;
}
.activitedesktop{
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite2{
    height: 57%;
    
}
.activite3{
    height: 37%;
}
.activite56{
    height: 47%;
}
.imgactivite14{
   height: 390px;
}
.imgactivite2{
    height: 200px;
}
.imgactivite3{
    height: 100px;
}
.imgactivite56{
    height: 155px;
}
/*Footer*/
.footer{
    flex-direction: row;
    gap: 150px
}
}
/*------------------tablette----------------*/
@media screen and (min-width: 600px) and (max-width: 819px) {
/*Titre*/
.h1titre{
    font-size: 19px;
}
/*Filtres*/
.RomEtAnimaux{
    display: flex;
    flex-direction: row;
}
#romantique{
    margin-right: 20px;
}
/*Formulaire*/
.formulaire{
    width: 420px;
    padding-top: 20px;
    margin-bottom: 30px;
}
#iconrecher{
    display: none;
}
.textrecher{
    display: flex;
}
/*Les plus populaires*/
.BlocPop{
    height: 160px;
}
.imgpop{
    width: 50%;
}
.bloctext{
    padding-left: 5px;
}
.prixpoptablette{
    margin-bottom: 0px;
}
.ulpop{
    padding-top: 10px;
}
/*Hébergement*/
.hebergement{
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: #F2F2F2;
}
.h3titre, .hebtext{
    font-size: 14px;
    padding-right:0px;
}
.BlocHeberResponsive{
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    
}
.BlocHebergement{
    width: 33%;
}
.prixheb{
    margin-bottom: 0px;
}

.ulpop{
    padding-top: 5px;
}
/*Footer*/
.footer{
       flex-direction: row;
       gap:40px; 
}
}