/* Mobil first*/
body{
    font-family: "Raleway", "sans serif";
    margin: 0px;
}
/*Parametre -- txt*/
.h1Title{
    font-size: 22px;
    font-weight: bolder;
    }
.h2Title{
    font-size: 20px;
    font-weight: bolder;
    }
.h2TitleActiv{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}
.h3Title{
    font-size: 14px;
    height: 32px;
    font-weight: bolder;
    margin-top: 20px;
}
h4{
   margin-top: 30px;
    margin-bottom: 0px;
}
p{
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}
.FlexRow{
    display: flex;
    flex-direction: row;
}
.FlexCenter{
    display: flex; 
    justify-content: center;
}
.FlexColumn{
    display: flex; 
    flex-direction:column;
}
/*Header*/
header{ 
    width: 100%;
    display: grid;
    font-weight: bolder;
    grid-template: "topLeft  topRight" 120px
                    "bottom  bottom" 40px;
} 
.logo{
    grid-area: topLeft;
    padding-left: 20px;
    padding-top: 30px;
}
.menu{
    grid-area: bottom;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.MenuItem{
    width: 100%;
    color: black;
    border-bottom: #F2F2F2 3px solid;
}
.MenuItem:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
.registration{
    grid-area: topRight;
    padding: 50px 30px 0 0;
    text-align: right;
}
#RegistrationLink{
    color: #0065FC;
    font-weight: bolder;
}
/*Trouver votre hébergement -- Search your hosting*/
.SearchHosting{
    padding: 0 20px 0 20px;
}
.form{
    width: 335px;
    height: 50px;
    justify-content:start;
    align-items: stretch;
    margin-bottom: 40px;
}
#map{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;  
}
#searching{
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: none;
    padding-left: 20px;
    color: black;
    font-weight: 700; 
    outline: none;
}
input::placeholder{
    color: black;
    font-weight: 800;
}
.IntSearching{
    font-family: raleway;
    font-size: 15px;
    font-weight: 200;
    color: black;
}
#IconSearching{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #0065fc;
    border-radius: 20px 20px 20px 20px;
}
#map:hover, .TxtSearching:hover{
    color:#0065fc;
    background-color: #F2F2F2
}
.TxtSearching{
    display: none;
    width: 135px;
    height: 50px;
    font-family: "raleway";
    justify-content:start;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    letter-spacing:0.3mm;
}
/*Filtres*/
.h2TitleFiltres{
    font-size: 16px;
    padding-right: 20px;
}
.filter{
    width: fit-content;
    height: 38px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align:inherit;
    border: #F2F2F2 solid 3px;
    border-left: #DEEBFF;
    border-radius: 25px;
    margin:0 5px 15px 10px;
    padding-right: 5px;
}
.FiltreIcone{
    width: 40px;
    height: 40px;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
}
.FiltresTxt{
    font-size: 14px;
    font-weight: bolder;
    padding: 0 20px 0 10px;
    margin: 0px;
    text-decoration: none;
    color: black;
}
.FiltresTxt:hover, .filter:hover{
    background-color: #DEEBFF;
}
/*Information*/
#info{
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}
#InfoIcone{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:start;
    color: #0065FC;
    border-radius: 100%;
    border: #F2F2F2 solid 1px;
}
#InfoText{
    margin: 0px;
    padding: 0 0 40px 10px;
}
/*Les plus populaires -- The best popular*/
.BlocBestPopular{
    background-color: #F2F2F2;
    padding: 20px 20px 20px 20px; 
    justify-content: space-between;
}
.TitlePopular{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
}
.BlocPopResponsive{
    display: flex;
    flex-direction: column;
}
.BlocPop{
    height: 145px;
    display: flex;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}
.BlocPop:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.ImgPop{
    width: 40%;
    padding: 5px;
    border-radius: 25px 0 0 25px  ;
    object-fit: cover;
}
.BlocText{
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}
.UlPop{
    justify-content: left;
    text-align: left;
    list-style: none;
    margin: 0px;
    padding: 20px 0 0 0;
    letter-spacing: 2px;
}
.PriceHosting{
    font-size: 13px;
    font-weight: 200;
    margin: 5px 0 5px 0;
}
.PricePop{
    font-size: 12px;
    font-weight: 200;
    margin-top: 0px;
}
.euro{
    font-weight: 700;
}
.HostingTxt{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 0px;
 }
.Star{
    padding-bottom: 10px;
}
/*Hébergement à Marseille -- Hosting in Marseille*/
.hosting{
    padding: 20px 20px 20px 20px;
}
.h2Title{
    margin-bottom: 0px;
}
.BlocHosting{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    margin: 15px 0px 15px 0px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 3px 3px 10px 1px #F2F2F2;
}
.BlocHosting:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.ImgHosting{
    height:60%;
    padding: 5px;
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.BlocTextHosting{
    text-align: left;
    padding-left: 20px;
}
.UlHosting{
    height: 14px;
    margin-top: -2px;
    padding-top: 0px;
    letter-spacing: 0px; 
}
/*Activités*/
.BlocActivities{
    padding: 20px;
}
.activities{
    height: 190px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px 1px #F2F2F2;
}
.activities:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.ImgActiv{
    height:135px;
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.ActivText{
    font-size: 14px;
    font-weight: 800;
    text-align: inherit;
    padding: 0 0 0 20px;
    margin:20px 0 0 0;  
}
/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 20px 40px 20px 40px;     
}
.FooterItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.h2Footer{
    font-size: 15px;
    font-weight: bolder;
    padding-top: 15px;
}
.pFooter{
    height: 30px;
    font-size: 13px;
    text-decoration: none;
    color: black;
}  
/*------------ desktop-----------------*/
@media screen and (min-width: 950px) {
/*header*/
header{
    grid-template: "topLeft top top topRight" 100px / auto 160px 160px 120px;
}
.menu{
   grid-area: top;
}
.MenuItem{
    padding-top: 50px;
    border-bottom: none;
    border-top: #F2F2F2 3px solid;
}
.MenuItem:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
#RegistrationLink{
    padding-right: 10px;
}
.registration{
    padding-top:53px;  
}
.logo{
    padding-left: 45px; 
}
/*Trouver votre hébergement -- Search your hosting*/
.SearchHosting{
    padding-left: 45px;
}
/*Formulaire rechercher -- Form searching*/
.form{
    width: 420px;
    padding-top: 20px;
    margin-bottom: 30px;
}
#IconSearching{
    display: none;
}
.TxtSearching{
    display: flex;
}
/*Filtre*/
#filtres{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
.FiltresTxt{
    padding-right: 5px;
}
.FilterTablet{
    display: flex;
    flex-direction: row;
}
#info{
    padding-top: 20px;
}
/*Hébergement et Les plus populaire -- Hosting and the best popular*/
.HostingAndPopular{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 40px;
    margin-bottom:20px;
}
/*Hébergement -- Hosting*/
.hosting{
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 25px;
}
.HostingTxt{
    font-size: 15px;
    padding-right: 0px;
    margin-top: 0px;
}
.BlocHostingResponsive{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.BlocHosting{
    width: 32%;
    height: 210px;  
}
.BlocTextHosting{
    padding: 5px 0 0 10px;
}

/*Les plus populaires -- The best of popular*/
.TitleHosting{
   font-size: 18px
}
.BlocBestPopular{
    width:28%;
    height: 600px;
    border-radius: 20px;  
    padding: 25px;
}
.BlocPop{
    margin-bottom: 30px;
}
.BlocText{
    padding-left: 5px;
    padding-right: 10px;
}
.h3Title{
    padding-right: 0px;
    font-size: 15px;    
}
.Star{
    padding-top: 0px;
}
.PricePopTablet{
    margin-bottom: 0px;
}
/*Activités*/
.BlocActivities{
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 40px;
    margin-bottom: 25px;  
}
.ActivText{
    font-size: 12px;
    margin-bottom: 15px;
    padding-left: 15px;   
}
.ImgActivities{
    width: 100%;
    height: 445px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.activities{
    height: 100%;
    margin-bottom: 0;
}
.ActivitiesDesktop{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activ2{
    height: 57%; 
}
.activ3{
    height: 37%;
}
.activ56{
    height: 47%;
}
.ImgActiv14{
   height: 390px;
}
.ImgActiv2{
    height: 200px;
}
.ImgActiv3{
    height: 110px;
}
.ImgActiv56{
    height: 155px;
}
/*Footer*/
.footer{
    flex-direction: row;
    gap: 230px;
}
}
/*------------------tablet----------------*/
@media screen and (min-width: 600px) and (max-width: 819px) {
/*Titre -- Title*/
.h1Title{
    font-size: 19px;
}
/*Filtres*/
.FilterTablet{
    display: flex;
    flex-direction: row;   
}
/*Formulaire -- Form*/
.form{
    width: 420px;
    padding-top: 20px;
    margin-bottom: 30px;
}
#IconSearching{
    display: none;
}
.TxtSearching{
    display: flex;
}
/*Les plus populaires*/
.BlocPop{
    height: 160px;
}
.imgpop{
    width: 50%;
}
.BlocText{
    padding-left: 5px;
}
.PricePopTablet{
    margin-bottom: 0px;
}
.ulpop{
    padding-top: 10px;
}
/*Hébergement*/
.hosting{
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: #F2F2F2;
}
.h3Title, .HostingTxt{
    font-size: 14px;
    padding-right:0px;
}
.BlocHostingResponsive{
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.BlocHosting{
    width: 33%;
}
.PriceHosting{
    margin-bottom: 0px;
}
.UlPop{
    padding-top: 5px;
}
/*Footer*/
.footer{
    flex-direction: row;
    gap:40px; 
    justify-content: space-between;
}
}
/*-------between tablet and desktop---------------------*/
@media screen and (min-width: 820px) and (max-width: 949px){
    /*header*/
header{
    grid-template: "topLeft top top topRight" 100px / auto 160px 160px 120px;
}
.menu{
    grid-area: top;
}
.MenuItem{
    padding-top: 50px;
    border-bottom: none;
    border-top: #F2F2F2 3px solid;
}
.MenuItem:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
#RegistrationLink{
    padding-right: 10px;
}
.registration{
    padding-top:53px;  
}
.logo{
    padding-left: 45px; 
}
/*Trouver votre hébergement -- Search your hosting*/
.SearchHosting{
    padding-left: 45px;
}
/*Formulaire rechercher -- Form searching*/
.form{
    width: 420px;
    padding-top: 20px;
    margin-bottom: 30px;
}
#IconSearching{
    display: none;
}
.TxtSearching{
    display: flex;
}
/*Filtre*/
#filtres{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
.FiltresTxt{
    padding-right: 5px;
}
.FilterTablet{
display: flex;
flex-direction: row;
}
#info{
    padding-top: 20px;
}
/*Hébergement et Les plus populaire -- Hosting and the best popular*/
.HostingAndPopular{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 40px;
    margin-bottom:20px;

}
/*Hébergement -- Hosting*/
.hosting{
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 25px;
}
.HostingTxt{
    font-size: 13px;
    padding-right: 0px;
    margin-top: 0px;
}
.BlocHostingResponsive{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.BlocHosting{
    width: 32%;
    height: 210px;  
}
.BlocTextHosting{
    padding: 5px 0 0 10px;
}

/*Les plus populaires -- The best of popular*/
.h2Title{
    font-size: 16px;
}
.BlocBestPopular{
    width:28%;
    height: 600px;
    border-radius: 20px;  
    padding: 25px;
}
.BlocPop{
    margin-bottom: 30px;
}
.BlocText{
    padding-left: 5px;
}
.h3Title{
    height:48px;
    padding-right: 0px;
    font-size: 13px;  
    margin-top: 15px; 
}
.UlPop{
    padding: 0px;
}
.PricePopTablet{
    margin-bottom: 0px;
}
/*Activités*/
.BlocActivities{
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 40px;
    margin-bottom: 25px;  
}
.ActivText{
    font-size: 12px;
    margin-bottom: 15px;
    padding-left: 15px;   
}
.ImgActivities{
    width: 100%;
    height: 445px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.activities{
    height: 100%;
    margin-bottom: 0;
}
.ActivitiesDesktop{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activ2{
    height: 57%; 
}
.activ3{
    height: 37%;
}
.activ56{
    height: 47%;
}
.ImgActiv14{
    height: 390px;
}
.ImgActiv2{
    height: 200px;
}
.ImgActiv3{
    height: 110px;
}
.ImgActiv56{
    height: 155px;
}
/*Footer*/
.footer{
    flex-direction: row;
    gap: 150px;
}
}