/* Mobile First----0808 a revoir les finitions----iphone8 375px-----*/
body{
    font-family: "Raleway", "sans serif";
    margin: 0px;
}
/*Parametre de text*/
.h1titre{
    font-size: 20px;
    font-weight: 900;
    }
.h2titre{
    font-size: 16px;
    font-weight: 900 !important;
}
.h3titre{
    font-size: 14px;
    font-weight: 900;
    padding-right: 50px;
}
p{
    font-weight: 300;
}
a{
    text-decoration: none;
    color: black;
}
/*Header*/
header{ 
    display: grid;
    grid-template: "topLeft  topRight" 120px
                    "bottom  bottom" 40px;
} 
.logo{
    width: 45%;
    grid-area: topLeft;
    padding-left: 20px;
    padding-top: 30px;
}
.menu{
    width: 100%;
    text-align: center;
    grid-area: bottom;
    display: flex;
    justify-content: space-around;
}
.menu-item{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    width: 50%;
    border-bottom: #F2F2F2 3px solid;
}
.menu-item:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
.inscription{
    
    grid-area: topRight;
    padding-right: 20px;
    padding-top: 50px;
    text-align: right;
}
#inscriptionLien{
    text-decoration: none;
    color: #0065FC;
    font-weight: 900;
}
/*Trouver votre hébergement*/
.trouverhebergement{
    padding-left: 20px;
}
.formulaire{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: stretch;
    height: 50px;
    width: 335px;
    padding-top: 30px;
    margin-bottom: 50px;
}
#map{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;  
}
#rechercher{
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: none;
    padding-left: 20px;
    color: black;
    font-weight: 700; 
    outline: none;
}
input::placeholder{
    color: black;
    font-weight: 900;
}
.intrechercher{
    font-family: raleway;
    font-size: 15px;
    font-weight: 700;
    color: black;
}
#iconrecher{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 50px;
    width: 50px;
    background-color: #0065fc;
    border-radius: 20px 20px 20px 20px;
}
#map:hover, .textrecher:hover{
    color:#0065fc;
    background-color: #F2F2F2
}
.textrecher{
    display: none;
}
/*Filtres*/
.ecofam{
    display: flex;
    flex-direction: row;
}
.filter{
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align:inherit;
    border: #F2F2F2 solid 2px;
    border-left: #DEEBFF;
    border-radius: 25px;
    height: 38px;
    margin-bottom: 15px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 10px;
}
.h-icone{
    width: 40px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF ;
    border-radius: 100%;
}
.h-text{
    font-size: 14px;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-decoration: none;
    color: black;
}
.h-icone:hover{
    background-color: teal;
    color: white;
}
/*Information*/
#info{
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    padding-right: 10px;
}
#iconeinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:start;
    width: 20px;
    height: 20px;
    color: #0065FC;
    border-radius: 100%;
    border: #F2F2F2 solid 1px;
    margin-right: 5px;
}
#textinfo{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
}
/*Les plus populaires*/
.pluspop{
    background-color: #F2F2F2;
    padding: 10px;
    
}
.pop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-right: 20px;
}
.blocPopResponsive{
    display: flex;
    flex-direction: column;
}
.blocpop{
    width: 98%;
    height: 145px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 3px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 3px #F2F2F2;
}
.blocpop:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgpop{
    width: 40%;
    padding: 3px;
    border-radius: 25px 0 0 25px  ;
    object-fit: cover;
}
.bloctext{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    text-align: left;
}
.ulpop{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    padding-left: 0px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.prixheb{
    font-size: 12px;
    font-weight: 200;
    margin-top: 5px;
}
.prixpop{
    font-size: 12px;
    font-weight: 200;
    margin-top: 0px;
}
.euro{
    font-weight: 900;
}
.hebtext{
    font-size: 14px;
    font-weight: 900;
    padding-right: 20px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.etoilespop{
   padding-left:0px;
}
.etoiles{
    padding-bottom: 10px;
}
/*Hébergement à Marseille*/
.hebergement{
    padding: 20px 25px 20px 20px;
}
.blocheb{
    width:100%;
    height: 230px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}
.blocheb:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgheber{
    width: 94%;
    height:60%;
    padding: 5px;
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.bloctextheb{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}
.ulheb{
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    padding-left: 0px;
    list-style: none;
    margin-top: -2px;
    margin-bottom: 0px;
}
/*Activités*/
.activitephoto{
    margin-left: 20px;
}
.imgactivite{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.activite{
    width:98%;
    height: 190px;
    background-color:white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}
.activite:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgactiv{
    height:136px;
    
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.activtext{
    font-size: 14px;
    font-weight: 900;
    padding-right: 20px;
    margin-top:20px;
    margin-bottom: 0px;
    padding-left: 20px;
}
/*Footer*/
.footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content:stretch; 
    padding-left: 30px;   
    padding-right: 15%;  
}
.footerh2{
    font-size: 15px;
    font-weight: 900;
    padding-top: 15px;
}
.pfooter{
    font-size: 13px;
    text-decoration: none;
    color: black;
    height: 30px;
}  
.footer1, .footer2, .footer3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*------------ desktop-----------------*/
@media screen and (min-width: 800px) {
/*header*/
header{
    width: 100%;
    grid-template: "topLeft top top topRight" 13% / auto 25% 25% 13%;
}
.menu{
   grid-area: top;
}
.menu-item{
    padding-top: 50px;
    border-bottom: none;
    border-top: #F2F2F2 3px solid;
}
.menu-item:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
#inscriptionLien{
    padding-right: 80px;
}
.inscription{
    padding-top:53px;
}
.logo{
    padding-left: 55px;
}
/*Formulaire*/
.formulaire{
    width: 420px;
    padding-top: 20px;
    margin-bottom: 50px;
}
/*Trouver votre hébergement*/
.trouverhebergement{
    margin-left: 30px;
}
/*Formulaire rechercher*/
#iconrecher{
    display: none;
}
.textrecher{
    display: flex;
    justify-content:start;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 800;
    height: 50px;
    width: 135px;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    letter-spacing:0.5mm;
}
/*Filtre*/
#filtres, .romanimaux{
    display: flex;
    flex-direction: row;
}

/*Hébergement et Les plus populaire*/
/*Hébergement*/
.hebetpop{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    align-items:flex-start;
    text-align:left;
    margin-bottom: 50px;
    margin-left:10px;
}
.hebergement{
    width: 65%;
    height: 600px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    margin-right: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.blocheb1, .blocheb2{
    width:98%;
    height: 200px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.blocheb1{
    margin-top: 0px;
}
.blocheb{
    width: 34%;
    margin-right: 10px;
}
.bloctextheb{
    padding-left: 15px;
}
.pop{
    padding-bottom: 15px;
    padding-right: 0px;
}
.pluspop{
    width: 30%;
    border-radius: 25px;
    height: 600px;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;  
}
.titreheb{
    margin-bottom: 5px;
    padding-right: 30px;
}
.hebtext{
    padding-right: 0px;
}
/*Les plus populaires*/
.bloctext{
    padding-left: 5px;
    }
.h3titre{
    padding-right: 0px;
}
.blocpop{
        margin-bottom: 25px;
}
.hebtext{
    margin-top: 0px;
}
.etoilespop{
    padding-top: 0px;
}
/*Activités*/
.txttitreactiv{
    padding-left: 10px;
}
.activitephoto{
   margin-bottom: 55px;   
}
.activtext{
    margin-bottom: 15px;
}
.imgactivite{
    height: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activiteResponsive{
width: 23%;
justify-content: space-between;
}
.activite{
    height: auto;
    margin-bottom: 0px;
    border-radius: 25px;
}
.activitedesktop{
    height: auto;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgactivite14{
    height: 88%;
}
.imgactivite2{
   height: 180px;
}
.imgactivite3{
   height: 115px;
}
.imgactivite56{
    height: 145px;
}
/*Footer*/
.footer{
    flex-direction: row;
    width: auto;
}
.footer1,.footer2, .footer3{
    width: 33%;
    margin-right: 55px;
}
}
/*---------tablette--------*/
@media screen and (min-width: 600px) and (max-width: 799px) {
.ecofam, .romanimaux{
    display: flex;
    flex-direction: row;
}
#romantique{
    margin-right: 20px;
}
.blocPopResponsive{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blocpop{
    width: 200px;
}
.imgpop{
    width: 75px;
}
h3{
    padding-right: 0px;
}
.bloctext{
    padding-left: 5px;
}
.pop{
    width: 100%;
    justify-content: space-between;
    padding-right: 50px;
}
.blocheb1, .blocheb2{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.blocheb{
    width: 75%;
    padding-right: 10px;
}
.activitedesktop{
    display: flex;
    flex-direction: row;
}
.blocactivite{
    display: flex;
    flex-direction: row;
}
.activite{
    width: 200px;
    margin-right: 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 30px;
}
}


