/* Mobile First----pondeli havres----iphone8 375px-----*/
body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
/*Parametre de text*/
h1{
    font-size: 20px;
    font-weight: 900;
    }
h2{
    font-size: 16px;
    font-weight: 900;
}
h3{
    font-size: 14px;
    font-weight: 900;
    padding-right: 50px;
}
p{
    font-weight: 300;
}
a{
    text-decoration: none;
    color: black;
}
/*Header*/
header{ 
    display: grid;
    grid-template: "topLeft  topRight" 120px
                    "bottom  bottom" 40px;
} 
.logo{
    grid-area: topLeft;
    padding-left: 20px;
    padding-top: 30px;
}
.menu{
    text-align: center;
    grid-area: bottom;
    display: flex;
    justify-content: space-around;
}
.menu-item{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    width: 100%;
    border-bottom: #F2F2F2 3px solid;
}
.menu-item:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
.inscription{
    grid-area: topRight;
    padding-right: 20px;
    padding-top: 50px;
    text-align: right;
}
#inscriptionLien{
    text-decoration: none;
    color: #0065FC;
    font-weight: 600;
}
/*Trouver votre hébergement*/
.trouverhebergement{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.formulaire{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: stretch;
    height: 50px;
    width: 335px;
    padding-top: 30px;
    margin-bottom: 50px;
}
#map{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;  
}
#rechercher{
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-left: none;
    border-right: none;
    padding-left: 20px;
    color: black;
    font-weight: 700;  
}

.intrechercher{
    font-family: raleway;
    font-size: 15px;
    font-weight: 700;
    color: black;
}
#iconrecher{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 50px;
    width: 50px;
    background-color: #0065fc;
    border-radius: 20px 20px 20px 20px;
}
#map:hover, .textrecher:hover{
    color:#0065fc;
    background-color: #F2F2F2
}
.textrecher{
    display: none;
}
/*Filtres*/
.ecofam{
    display: flex;
    flex-direction: row;
}
.filter{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    border: #F2F2F2 solid 2px;
    border-left: #DEEBFF;
    border-radius: 25px;
    height: 48px;
    margin-bottom: 15px;
}
#economique{
    width: 175px;
    margin-right: 15px;
}
#familial{
    width: 135px;
}
#romantique{
    width: 170px;
}
#animaux{
    width: 220px;
}
.h-icone{
    width: 50px;
    height: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF ;
    border-radius: 100%;
}
.h-text{
    font-size: 14px;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-decoration: none;
    color: black;
}
.h-icone:hover{
    background-color: teal;
}
/*Information*/
#info{
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}
#iconeinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:start;
    width: 20px;
    height: 20px;
    color: #0065FC;
    border-radius: 100%;
    border: #F2F2F2 solid 1px;
    margin-right: 5px;
}

#textinfo{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
}
/*Les plus populaires*/
.pluspop{
    background-color: #F2F2F2;
    padding: 10px;
    height: auto;
}
.pop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 330px;
}
.blocpop{
    width: 330px;
    height: 145px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 3px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 3px #F2F2F2;
}
.blocpop:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgpop{
    width: 125px;
    height:140px;
    padding: 3px;
    border-radius: 25px 0 0 25px  ;
    object-fit: cover;
}
.bloctext{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    text-align: left;
}
.ulpop{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    padding-left: 0px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.prixheb{
    font-size: 12px;
    font-weight: 200;
    margin-top: 5px;
}
.prixpop{
    font-size: 12px;
    font-weight: 200;
    margin-top: 0px;
}
.euro{
    font-weight: 900;
}
.hebtext{
    font-size: 14px;
    font-weight: 900;
    padding-right: 20px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.etoilespop{
   padding-left:0px;
}
.etoiles{
    padding-bottom: 10px;
}
/*Hébergement à Marseille*/
.hebergement{
    padding: 20px;
    height: auto;
}
.blocheb{
    width:100%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}
.blocheb:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgheber{
    height:120px;
    padding: 5px;
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.bloctextheb{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}
.ulheb{
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    padding-left: 0px;
    list-style: none;
    margin-top: -2px;
    margin-bottom: 0px;
}
/*Activités*/
.activitephoto{
    margin-left: 20px;
}
.imgactivite{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
}
.activite{
    width:335px;
    height: 190px;
    background-color:white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px 1px #F2F2F2;
}
.activite:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.imgactiv{
    height:136px;
    width: 100%;
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.activtext{
    font-size: 14px;
    font-weight: 900;
    padding-right: 20px;
    margin-bottom: 0px;
    padding-left: 20px;
}
/*Footer*/
.footer{
    background-color: #F2F2F2;
    padding: 30px;
}
.footerh2{
    font-size: 15px;
    font-weight: 900;
    padding-top: 15px;
}
.pfooter{
    font-size: 13px;
    text-decoration: none;
    color: black;
    height: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content:stretch; 
    padding-left: 30px;   
    padding-right: 15%;  
}
.footer1, .footer2, .footer3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
/*------------ desktop-----------------*/
@media screen and (min-width: 800px) {
/*header*/
header{ 
    grid-template: "topLeft top top topRight" 100px / auto 160px 160px 100px;
    width: auto;
}
.menu{
   grid-area: top;
}
.menu-item{
    padding-top: 50px;
    border-bottom: none;
    border-top: #F2F2F2 3px solid;
}
.menu-item:hover{
    border-color: #0065FC;
    color:  #0065FC;
}
#inscriptionLien{
    padding-right: 80px;
}
.inscription{
    padding-top:53px;
}
.logo{
    padding-left: 55px;
}
/*Formulaire*/
.formulaire{
    width: 420px;
    padding-top: 20px;
    margin-bottom: 50px;
}
/*Trouver votre hébergement*/
.trouverhebergement{
    margin-left: 30px;
}
/*Formulaire rechercher*/
#iconrecher{
    display: none;
}
.textrecher{
    display: flex;
    justify-content:start;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 800;
    height: 50px;
    width: 135px;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    letter-spacing:0.5mm;
}
/*Filtre*/
#filtres{
    display: flex;
    flex-direction: row;
}
#economique, #familial, #romantique, #animaux{
    margin-right: 25px;
}
#economique{
    margin-left: 35px;
}
/*Hébergement et Les plus populaire*/
/*Hébergement*/
.hebetpop{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    align-items:flex-start;
    text-align:left;
    margin-bottom: 50px;
    margin-left:50px;
}
.hebergement{
    flex: 65%;    
    background-color: #F2F2F2;
    height: 600px;
    border-radius: 25px;
    margin-right: 20px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.blocheb1, .blocheb2{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0px;
    padding-bottom: 20px;
}
.blocheb{
    width:245px;
    height:200px;
    margin-right: 20px;
}
.bloctextheb{
    padding-left: 15px;
}
.pop{
    padding-bottom: 5px;
}
.pluspop{
    flex: 25%;
    border-radius: 25px;
    width: 420px;
    height: 600px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 40px;  
}
.titreheb{
    margin-bottom: 5px;
    padding-right: 30px;
}
/*Les plus populaires*/
.bloctext{
    padding-right: 0px;
}
.blocpop{
        margin-bottom: 30px;
}
.hebtext{
    margin-top: 0px;
}
.etoilespop{
    padding-top: 10px;
}
/*Activités*/
.txttitreactiv{
    padding-left: 10px;
}
.activitephoto{
margin-bottom: 55px;   
margin-left: 50px; 
}
.activtext{
    margin-bottom: 15px;
}
.imgactivite{
    width: 100%;
    height: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.activite{
    height: auto;
    margin-bottom: 0px;
    width: 305px;
    border-radius: 25px;
    margin-left: 0px;
    margin-right: 20px;
}
.blocactivite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
.activitedesktop{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgactivite14{
    height: 400px;
    width: 305px;
}
.imgactivite2{
   height: 180px;
}
.imgactivite3{
   height: 115px;
}
.imgactivite56{
    height: 145px;
}
/*Footer*/
.footer{
    flex-direction: row;
    width: auto;
}
.footer1,.footer2, .footer3{
    width: 33%;
    margin-right: 55px;
}
}
/*---------tablette--------*/



